name: Cloudflare Workers

on:
  push:
    branches: [ main ]

defaults:
  run:
    shell: bash
    working-directory: ./

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup serverless
        uses: Teakowa/setup-serverless@v2
        with:
          provider: cloudflare-workers
        env:
          CLOUDFLARE_AUTH_KEY: ${{ secrets.CLOUDFLARE_AUTH_KEY }}
          CLOUDFLARE_AUTH_EMAIL: ${{ secrets.CLOUDFLARE_AUTH_EMAIL }}

      - name: Deploy
        run: |
          sls plugin install -n serverless-cloudflare-workers
          sls deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          CLOUDFLARE_WORKER_NAME: ${{ secrets.CLOUDFLARE_WORKER_NAME }}
          RESOURCE_NAME: ${{ secrets.RESOURCE_NAME }}
          DEPLOY_NAME_GPT35: ${{ secrets.DEPLOY_NAME_GPT35 }}
          DEPLOY_NAME_GPT4: ${{ secrets.DEPLOY_NAME_GPT4 }}
